.expandable-title {
  display: block;
  color:  #5CCD18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  .text {
    color:  #5CCD18 !important;
    border-bottom: 1px solid #5CCD18;
    .desc {
      color:  black !important;
      font-weight: 400 !important;
    }
  }
}

.mitre-fields, .sector-names, .categories {
  margin-bottom: 5px;
  font-weight: 700;
  color: #8b8b8b;
  .mitre-field, .sector-name, .category {
    padding-bottom: 3px;
  }
}

.severity {
  .p-value {
    padding: 0px 3px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 18px;
    &.red {
      color: red !important;
      border: 1px solid red;
    }
    &.orange {
      color: orange !important;
      border: 1px solid orange;
    }
    &.green {
      color: #5CCD18 !important;
      border: 1px solid #5CCD18;
    }
  }
}

div.tab-content {
  margin: 11px 20px !important;
  div.alert {
    margin: 0 !important;
    padding: 0 !important;
  }
}